<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

   
        <form type="submit" action="/postu" method="post">
          <label>id</label><input type="text" name="id">
      <label> Name</label><input type="text" name="name"> 
      <label> Phone</label><input type="text" name="phone">
      <button>click to create</button>
    </form>
    
</body>
</html>